/* line 1, ../../../sass/sass/pages/business-chk.scss */
.input-comment {
  color: red;
  font-weight: 600;
}

/* line 6, ../../../sass/sass/pages/business-chk.scss */
#sub-top-banner {
  background-size: cover;
}

/* line 11, ../../../sass/sass/pages/business-chk.scss */
.sub-top-banner-text {
  color: #333;
}

/* line 15, ../../../sass/sass/pages/business-chk.scss */
.table-comment {
  font-size: 13px;
  text-align: right;
}

/* line 19, ../../../sass/sass/pages/business-chk.scss */
#table-line {
  border-bottom: 1px solid #b2b2b2;
}

/* line 22, ../../../sass/sass/pages/business-chk.scss */
.table td input {
  width: 280px;
}

/* line 26, ../../../sass/sass/pages/business-chk.scss */
.table {
  font-size: 15px;
  border: 0;
  border-top: 1px solid #e3e3e3;
  margin-bottom: 0;
}

/* line 33, ../../../sass/sass/pages/business-chk.scss */
.table th {
  border: 0;
  padding: 17px !important;
  background-color: #f7f6f4 !important;
  font-size: 15px;
  text-align: center;
  vertical-align: middle !important;
}

/* line 42, ../../../sass/sass/pages/business-chk.scss */
.table tbody td {
  border: 0;
  padding: 17px !important;
  color: #666;
  line-height: 1.7 !important;
}

/* line 50, ../../../sass/sass/pages/business-chk.scss */
.table-detail-txt {
  padding: 10px 20px;
  background-color: #ebeae8;
  border-radius: 10px;
  font-size: 14px;
  margin-top: 15px;
}

/* line 58, ../../../sass/sass/pages/business-chk.scss */
#table1 .table th {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 65, ../../../sass/sass/pages/business-chk.scss */
#table1 .table {
  font-size: 15px;
  border: 0;
  border-top: 1px solid #e3e3e3;
  margin-bottom: 0;
}

/* line 72, ../../../sass/sass/pages/business-chk.scss */
#table1 .table th {
  border: 0;
  padding: 17px !important;
  background-color: #f7f6f4 !important;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
}

/* line 81, ../../../sass/sass/pages/business-chk.scss */
#table1 .table > tbody > td {
  border: 0;
  padding: 17px !important;
  color: #666;
  line-height: 1.7 !important;
  text-align: center;
}

/* line 90, ../../../sass/sass/pages/business-chk.scss */
#table1 .table-detail-txt {
  padding: 10px 20px;
  background-color: #ebeae8;
  border-radius: 10px;
  font-size: 14px;
  margin-top: 15px;
}

/* line 98, ../../../sass/sass/pages/business-chk.scss */
.index-btn {
  width: 160px;
  padding: 15px;
  color: white;
  font-size: 17px;
  text-align: center;
  background-color: #22ac38;
  margin: 0 auto;
  overflow: hidden;
}

/* line 109, ../../../sass/sass/pages/business-chk.scss */
.table td input[type='submit'] {
  width: 60px;
  padding: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 15px;
  text-align: center;
  background-color: #22ac38;
  margin: 0 auto;
  color: #fff;
}

/* line 121, ../../../sass/sass/pages/business-chk.scss */
.table a {
  color: #fff;
}

/* line 125, ../../../sass/sass/pages/business-chk.scss */
.index-btn-sm {
  padding: 10px;
  color: white;
  font-size: 14px;
  text-align: center;
  background-color: #22ac38;
  margin: 0 auto;
  overflow: hidden;
}

/* line 136, ../../../sass/sass/pages/business-chk.scss */
.index-btn-sm a {
  color: #fff;
}
